.news-search {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../assets/news.avif'); 
  background-size: cover; 
  background-position: center;
  height: 200px;
}

.news-search-form {
  margin-top: 20px;
  margin-bottom: 20px;
}
.input-with-button {
  position: relative;
  display: inline-block;
}

.news-search-input {
  padding: 20px;
  width: 400px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 30px;
  font-size: 16px;
  outline: none;
  margin-right: 10px;
}

.news-search-btn {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  border: none;
  background: none;
  cursor: pointer;
  padding: 20px;
  color: rgba(0, 0, 0, 0.627);
  font-size: 24px;
}



.news-search-input::placeholder {
  color: #aaa;

}


