.news-posting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 120px);
    padding: 20px;
    box-sizing: border-box; 
    padding-bottom: 70px; 
  }
  
  .post-h1 {
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .post-news {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .post-news input[type="text"],
  .post-news input[type="url"],
  .post-news textarea {
    width: calc(100% - 20px); 
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .post-news textarea {
    resize: vertical;
  }
  
  .review-btn {
    width: calc(100% - 20px); 
    padding: 10px;
    background-color: #231f20;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .review-btn:hover {
    background-color: #231f20;
  }
  
