.signin-page {
  position: relative;
  background-image: url('../assets/news.avif');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.container {
  position: relative;
  max-width: 350px;
  margin: 50px auto 0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 25px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  background-color: white;
}


.title {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.input {
  padding: 15px;
  width: 250px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 25px !important;
  height: 30px;
  align-self: center;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

.input::placeholder {
  padding-left: 5px;
  font-family: 'Times New Roman', Times, serif;
}

a {
  text-decoration: none;
}

.signin-form-btn {
  padding: 12px 20px;
  color: #fff;
  background-color: #0e2945d8;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  width: 100px;
  align-self: center;
}

.signin-form-btn:hover {
  background-color: #123458c0;

}

.signup-link {
  text-align: center;
  margin-top: 20px;
  font-size: 0.9rem;
}

.signup-link a {
  color: #1d64b1;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}

.error-message {
  width: 250px;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  color: #7b1a24;
  padding: 10px 15px;
  border-radius: 15px;
  margin-top: 10px;
  margin-left: 30px;
  text-align: center;
  padding-left: 50px;
}